.headerSite {
	background-image: url("../static/common/header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;

	height:20%;
}

.contentSite {
	background-color: orange ;

	height:80%;
}