.mainBody {
	height:100vh;
	background: url("../static/common/background4.jpg") no-repeat;
	/*background-size:100% 100%;*/
	background-size: cover;
	background-attachment:fixed;
	overflow-x:hidden;
	overflow-y:auto;
}

.headerSite {
	background-image: url("../static/common/header.jpg");
	background-repeat: repeat;
	background-position: center;
	background-size:cover;

	border: thin solid #0979B1;

	min-height:15%;
}

.navSite {
	min-height:10%;
}

.contentBorder {
	border:1vh solid transparent;
	border-image : url("../static/common/border-1.png") 15%;
	background-color : rgba(175,210,254,0.5);
}

.smallBtn {
	max-width:30%;
	min-inline-size:fit-content;
}