.subContentBorder {
	border:0.4vh solid #7DDCFF;
}

.navTabsFix {
	border-bottom:none!important;
	min-height:100%;
	justify-content:flex-start;
}

.navLinkFix {
	border-radius:.25rem!important;
	text-align:center;
	color:#003b80;
	margin-top:2rem;
}

.navLinkFix.active {
	background-color:transparent!important;
	border-color:#002a5a!important;
	color:#002a5a!important;
	font-weight:bold;
}

.navLinkFix:hover {
	border-color:#0062d2!important;	
}

.verticalCenter{
	display:flex!important;
	flex-direction: column;
	justify-content: space-around;
}

.centerRow{
	padding-bottom:5%;
	padding-top:5%;
}

.centerRow1{
	padding-bottom:1%;
	padding-top:1%;
}